<h2 class="center-align">{{this.recipe.name}}</h2>
<div class="container row">
    <div class="col s8">
        <app-recipe-header [recipe]="this.recipe"></app-recipe-header>
        <div class="row">
            <div class="col s12">
                <div class="card-panel teal steps">
                    <app-recipe-execution-list
                            [recipeExecutionId]="recipe.recipeExecutionId" [isRecipeExecutionGeneral]="true"
                    (isChangeEvent)="changeDetected($event)" (stepToUpdate)="stepToUpdateDetected($event)"></app-recipe-execution-list>
                </div>
            </div>
        </div>

    </div>
    <div class="row col s4">
        <div class="col s12">
            <div class="card-panel teal ingredients">
                <h5>Ingredients</h5>
                <app-recipe-ingredients-list [stepId]="this.recipe!.recipeExecutionId!"
                                             [stepName]="'General'" [isChange]="this.isChange"
                 ></app-recipe-ingredients-list>
            </div>
        </div>
    </div>

</div>

<!-- ////////////////////// Categories management ////////////////////// -->

<div class="row container center-align">
    <button class="btn-small waves-effect waves-light" (click)="addAStepAction()">Add a step</button>
    <button class="btn-small waves-effect waves-light" (click)="addAProgressionAction()">Add a progression</button>
</div>
<div class="container">
    <div *ngIf="addAStep">
    <app-add-step-within-recipe-execution
            [recipeExecutionId]="recipe.recipeExecutionId!"></app-add-step-within-recipe-execution>
    </div>
    <div *ngIf="this.stepToUpdate">
        <app-add-step-within-recipe-execution
                [recipeExecutionId]="recipe.recipeExecutionId!" [step]="this.stepToUpdate"></app-add-step-within-recipe-execution>
    </div>
    <div *ngIf="addAProgression">
        <app-add-progression-within-recipe-execution
                [recipeExecutionId]="recipe.recipeExecutionId!"></app-add-progression-within-recipe-execution>

    </div>
</div>
<app-display-cost [recipeId]="recipe.id"></app-display-cost>
