h2{
    color: #4f5e62;
}
.steps{
    background-color: #a19f89 !important;
}
.ingredients{
    background-color: #e9dccf !important;
}
.btn-small{
    background-color: #729598 !important;
    margin: 10px;
}
