<div class="container">

    <h2>Settings</h2>

    <!-- ////////////////////// Categories management ////////////////////// -->
    <div class="container">
        <h4>Manage ingredient categories</h4>
        <app-ingredient-category-list></app-ingredient-category-list>
        <app-add-ingredient-category></app-add-ingredient-category>


        <h4>Manage allergen categories</h4>
        <app-allergen-category-list></app-allergen-category-list>
        <app-add-allergen-category></app-add-allergen-category>

        <h4>Manage recipe categories</h4>
        <app-recipe-category-list></app-recipe-category-list>
        <app-add-recipe-category></app-add-recipe-category>

        <h4>Manage cost data</h4>
        <p>Update the default cost data</p>
    </div>
</div>
