<div class="row">
    <ul class="collection col s10">
        <li *ngFor="let category of recipeCategories  | async" class="collection-item">
            <button class="btn-floating btn-small waves-effect waves-light right delete">x</button>
            {{category.name}}
        </li>
    </ul>
    <div class="input-field col s8" [formGroup]="recipeCategoryFormGroup">
        <input id="name" type="text" class="validate" formControlName="name">
        <label for="name">Name</label>
    </div>
    <button class="btn-small waves-effect waves-light col s2 add" (click)="createRecipeCategory()">Add</button>


</div>

