.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input-field {
    border-radius: 10px;
    opacity: 90%;
}
input{
    color: white;
}

.login-form {
    border-radius: 10px;
    padding: 60px 10px 10px;
    backdrop-filter: blur(10px) drop-shadow(10px 10px 10px black) brightness(70%);
}

.glow {
    box-shadow: 0px 0px 15px 4px #ffffff;
}
