<h2 class="center-align" *ngIf="this.step == null; else updateTitle">Add a step</h2>
<ng-template #updateTitle>
    <h2 class="center-align" >Edit step</h2>
</ng-template>


<div class="row container">


    <form class="col s12" [formGroup]="recipeExecutionFormGroup">
        <div class="row">
            <div class="input-field col s12">
                <input id="stepTitle" type="text" class="validate" formControlName="stepTitle">
                <label for="stepTitle" [class.active]="this.step">Step title</label>
            </div>
            <div class="input-field col s12">
                <input id="stepDescription" type="text" class="validate" formControlName="stepDescription">
                <label for="stepDescription" [class.active]="this.step">Step description</label>
            </div>
            <div class="input-field col s12">
                <input id="duration" type="number" min="0" class="validate" formControlName="duration">
                <label for="duration" [class.active]="this.step">Step duration</label>
            </div>
        </div>
    </form>

    <h5>Ingredients in step</h5>
    <div *ngIf="this.ingredientsSelected.length > 0">
        <table class="highlight">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let ingredient of ingredientsSelected ">
                <td>{{ingredient.ingredientDetails!.name}}</td>
                <td>{{ingredient.quantity + " " + ingredient!.ingredientDetails!.unit}}</td>
                <td><button class="btn-floating btn-small waves-effect waves-light right" (click)="deleteIngredient(ingredient)">X</button></td>
            </tr>
            </tbody>
        </table>
    </div>


    <!--    <app-tab-ingredients-to-add [newIngredient]="this.newIngredient"-->
    <!--                                (ingredientsSelectedEvent)="changeIngredientsSelected($event)"-->
    <!--                                [ingredientsSelectedInit]="this.ingredientsSelected"-->
    <!--    ></app-tab-ingredients-to-add>-->

    <form class="col s12" [formGroup]="ingredientWithQuantityFormGroup">
        <div class="row">
            <div class="input col s12">
                <label>Select an ingredient</label>
                <select formControlName="ingredient" (change)="ingredientSelected()">
                    <option value="" selected disabled>Choose an ingredient</option>
                    <option *ngFor="let ingredient of ingredients | async" (isChangeEvent)="ingredientSelected()"
                            value={{ingredient.id}}>{{ingredient.name}}</option>
                </select>
            </div>
            <div class="input-field col s9">
                <input id="quantity" type="number" step="0.01" min="0" class="validate" formControlName="quantity">
                <label for="quantity">Quantity</label>
            </div>
            <div *ngIf="unitOfCurrentIngredientSelected" class="col s3 unit">{{unitOfCurrentIngredientSelected}}</div>
            <button class="btn-small waves-effect waves-light" (click)="addIngredient()">Add ingredient</button>
        </div>
    </form>
</div>

<div class="row container right-align">
    <button *ngIf="this.step == null; else updateButton" class="btn waves-effect waves-light" type="submit" name="action" (click)="createStep()">Submit
        <i class="material-icons right">send</i>
    </button>
</div>

<ng-template #updateButton>
    <button  class="btn waves-effect waves-light" type="submit" name="action" (click)="updateStep()">Update
        <i class="material-icons right">send</i>
    </button>
</ng-template>
