<h2 class="center-align">Add an ingredient</h2>

<div class="row container">
    <form class="col s12" [formGroup]="ingredientFormGroup">
        <div class="row">
            <div class="input-field col s6">
                <input id="name" type="text" class="validate" formControlName="name">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input id="unit" type="text" class="validate" formControlName="unit">
                <label for="unit">Unit</label>
            </div>
            <div class="input-field col s6">
                <input id="unitaryPrice" type="number" class="validate" formControlName="unitaryPrice">
                <label for="unitaryPrice">Unitary price</label>
            </div>
            <div class="input-field col s6">
                <input id="stockQuantity" type="number" class="validate" formControlName="stockQuantity">
                <label for="stockQuantity">Stock Quantity</label>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s6">
                <select formControlName="ingredientCategory">
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor="let category of ingredientCategories | async"
                            value="{{category.id}}">{{category.name}}</option>
                </select>
                <label>Select an ingredient category</label>
            </div>
            <div class="input-field col s6">
                <select formControlName="allergenCategory">
                    <option value="" disabled selected>Choose your option</option>
                    <option *ngFor="let category of allergenCategories | async"
                            value="{{category.id}}">{{category.name}}</option>
                </select>
                <label>Select an allergen category</label>
            </div>
        </div>
    </form>
</div>

<div class="row container center-align">
    <button class="btn-small waves-effect waves-light" (click)="manageIngredientCategoryAction()">Manage ingredient category</button>
    <button class="btn-small waves-effect waves-light" (click)="manageAllergenCategoryAction()">Manage allergen category</button>
</div>
<div class="container row">
<div *ngIf="manageIngredientCategory" class="col s6">
    <app-ingredient-category-list></app-ingredient-category-list>
    <app-add-ingredient-category></app-add-ingredient-category>
</div>
<div *ngIf="manageAllergenCategory" class="col s6">
    <app-allergen-category-list></app-allergen-category-list>
    <app-add-allergen-category></app-add-allergen-category>
</div>
</div>
<div class="row container right-align">
    <button class="btn waves-effect waves-light" type="submit" name="action" (click)="createIngredient()">Submit
        <i class="material-icons right">send</i>
    </button>
</div>
