/* You can add global styles to this file, and also import other style files */
h2{
    color: #4f5e62;
}
.btn-small{
    background-color: #729598 !important;
    margin: 3px;
}
h4{
    color: #4f5e62;
}
h5{
    color: #4f5e62;
}
th{
    color: #903739;
}
select{
    display: flex;
}
.btn{
    background-color: #903739 !important;
}
tab-center{
    margin: 0 auto;
    width: 100px;
}
.action{
    background-color: #729598 !important;
    size: 2px !important;
}
.toast{
    transparent: true;
}

