<p *ngIf="this.recipeExecutionId == null">
    This recipe does not yet contain any step
</p>
<div (click)="select()" *ngFor="let step of this.stepsWithinRecipe">

    <div class="">

        <div class="row">
            <div *ngIf="step.step!.isStep == true">
                <div class="col s1" > <p  class="numberCircle"> {{step.number}}</p></div>
                <p class="col s11 title"> {{step.step!.stepTitle}}</p>
                <p>{{step.step!.stepDescription!}}</p>
                <div *ngIf="isRecipeExecutionGeneral" class="right">
                    <button *ngIf="isRecipeExecutionGeneral"
                            class="btn-floating btn-small waves-effect waves-light edit"
                            (click)="updateStep(step.step!)"
                    >
                        <i class="material-icons">edit</i>
                    </button>
                    <button
                            class="btn-floating btn-small waves-effect waves-light delete"
                            (click)="delete(step)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
            <div *ngIf="step.step!.isStep == false" class="cols s12">
                <div class="col s1" > <p  class="numberCircle"> {{step.number}}</p></div>
                <p class="col s11 title"> {{step.step!.stepTitle}}</p>
                <app-recipe-execution-list [recipeExecutionId]="step.step!.id!"
                                           [isRecipeExecutionGeneral]="false"></app-recipe-execution-list>
                <button *ngIf="isRecipeExecutionGeneral"  class="btn-floating btn-small waves-effect waves-light delete right"
                        (click)="delete(step)"><i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>
</div>


