.card {
    background-color: rgba(79, 94, 98, 0.34) !important;
    padding: 3px;
}
.marge {
    margin-left: 2em;
}
.edit{
    background-color: #729598 !important;
}
.delete{
    background-color: #903739 !important;
}

@media print {
    .print-exclude {
        display: none;
    }
    button {
        display: none;
    }
}
