.card {
    background-color: rgba(129, 149, 130, 0.29) !important;
}
.marge {
    margin-left: 2em;
}
.edit{
    background-color: #729598 !important;
}
.delete{
    background-color: #903739 !important;
}
