<p *ngIf="this.recipeExecutionId == null">
    This recipe does not yet contain any step
</p>
<div (click)="select()" *ngFor="let step of this.stepsWithinRecipe">

    <div class="card blue-grey darken-1">

        <div class="card-content white-text">
            <div *ngIf="step.step!.isStep == true">
                <span class="card-title">{{step.number}}- {{step.step!.stepTitle}}</span>
                {{step.step!.stepDescription!}}
                <div *ngIf="isRecipeExecutionGeneral" class="right">
                    <button *ngIf="isRecipeExecutionGeneral"
                            class="btn-floating btn-small waves-effect waves-light edit"
                            (click)="updateStep(step.step!)"
                    >
                        <i class="material-icons">edit</i>
                    </button>
                    <button
                            class="btn-floating btn-small waves-effect waves-light delete"
                            (click)="delete(step)">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
            <div *ngIf="step.step!.isStep == false" class="cols s12">
                <span class="card-title"> {{step.number}}- {{step.step!.stepTitle}}</span>
                <app-recipe-execution-list [recipeExecutionId]="step.step!.id!"
                                           [isRecipeExecutionGeneral]="false"></app-recipe-execution-list>
                <button *ngIf="isRecipeExecutionGeneral"  class="btn-floating btn-small waves-effect waves-light delete right"
                        (click)="delete(step)"><i class="material-icons">delete</i>
                </button>
            </div>
        </div>
    </div>
</div>


