<div class="row container tab-center">
    <h4>Cost</h4>
    <table class="highlight">
        <thead>
        <tr>
            <th>Material cost</th>
            <th>Charges cost</th>
            <th>Production cost</th>
            <th>Sales prices</th>
            <th>Profits</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{this.materialCost}}</td>
            <td>{{this.chargesCost}}</td>
            <td>{{this.productionCost}}</td>
            <td>{{this.salesPricesWithCharges}}</td>
            <td>{{this.portionProfit}}</td>
        </tr>
        </tbody>
    </table>
</div>
